---
---
@import "{{ site.theme }}";
span.post-meta {
  color:#999999;
  font-size: 0.9rem;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: bold;
  text-indent: 4px;
}
span.date {
  color:#BBB;
}

div.menu ul.sub-menu {
  display:none;
}
div.menu:hover ul.sub-menu {
  display:block;
}

.badge {
  border-radius: 50%;

  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
}
