---
---
@import "{{ site.theme }}";
span.post-meta {
  color:#999;
  font-size: 0.9rem;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: bold;
  text-indent: 4px;
}
span.date {
  color:#BBB;
}

div.menu ul.sub-menu {
  display:none;
}
div.menu a.button {
  background: url({{ "/img/empty-button.png" | prepend: site.baseurl }});
  display: block !important;
}
div.menu a.ingredients {
  background: url({{ "/img/ingredients-button.png" | prepend: site.baseurl }}) !important;
}
div.menu a.categories {
  background: url({{ "/img/categories-button.png" | prepend: site.baseurl }}) !important;
}
a.rss {
  background: url({{ "/img/atom-button.png" | prepend: site.baseurl }}) !important;
}
a.git {
  background: url({{ "/img/github-button.png" | prepend: site.baseurl }}) !important;
}

div.menu:hover ul.sub-menu {
  display:block;
  list-style-type: none;
}
div.menu:hover ul.sub-menu a {
  font-size:1.0rem;
  font-weight: normal;
}
div.menu ul.sub-menu li:hover {
    background: #999;
}
.badge {
  font-size: 0.9rem;
  float: right;
  font-weight: bolder;
}
